*{
    margin: 0%;
    padding: 0%;
}

:root{
    --preto: #000000;
    --branco:#fff;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    padding: 19px;
    background-color: blueviolet;
    
}

#logo{
    display: flex;
    width: 50px;
    height: 50px;
    
}


nav{
    display: flex;
}

li,ul{
    display: flex;
    /* justify-content:space-between ; */
    gap: 20px;

}

#links{
    display: flex;
    align-items: flex-st;
}

a{
    color: var(--preto);
    text-decoration: none;
}

#entrar{
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid var(--preto);
    cursor: pointer; 
}

/* FIM HEADER */
/* MAIN */

#part1{
    background-color: blue;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#text{
    padding: 100px;
    
}

#naScasa{
    padding: 40px;
}
