*{
    margin: 0%;
    padding: 0%;
    color: #4a4a4a;
}

:root{
    --fonteTitulo:"TCCC Unity Text Bold";
    --fonteTexto:"TCCC Unity Text Regular";
    --cinza:#4a4a4a;
}

main{
    width: 50%;
    height: 50%;
    background-color: #03ff4f ;
    border-radius: 10px;
    
    
}
#caixa{
    width: 100%;
    height: 100vh;
    background-color:darksalmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 78%;
    padding: 5px;
    border:1px solid #bebebe; ;
    box-shadow: inset 0 0 4px rgba(0,0,0,.3);
    border-radius: 10px;
    font-size: 16px;
    padding: 14.6px 10px;
    
}

#mensagem{
    background-color: blueviolet;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

button{
    width: 100%;
    padding: 11px;
    border-radius: 25px; ;
    background:#fe001a;
    border:none;
    color: #fff;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color:var(--cinza);
}